<section class="d-flex justify-content-center align-items-center vh-100">
  <div class="container">
    <div class="text-center logo mb-5">
      <img src="image1.png" alt="Logo" width="100px">
    </div>
    <div class="row">
      <h2 class="mb-5">Reset Your Password</h2>
    </div>
    <div class="row text-center">
      <form action="" (ngSubmit)="onSubmit()" #f="ngForm">
        <input class="form-control mb-5" type="email" placeholder="Enter Your Email" name="email" required [(ngModel)]="email">
        <button class="btn" type="submit" [disabled]="!f.valid">Send</button>
        <p class="text-success mt-4" *ngIf="success">{{success}}</p>
        <p class="text-danger mt-4" *ngIf="error">{{error}}</p>
      </form>
    </div>
  </div>
</section>
<ngx-spinner
bdColor="rgba(0, 0, 0, 0.8)"
size="large"
color="#188894"
type="square-jelly-box"
[fullScreen]="true">
<p style="color: white" class="mt-5"> Loading... </p>
</ngx-spinner>
