<div class="container mb-5">
  <!-- Spinner أثناء التحميل -->
  <div *ngIf="loading" class="d-flex justify-content-center align-items-center "
    style="height: 300px; color: #188894 ;">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="container" *ngIf="!loading && items.length > 0">
    <div class="row title mt-4 text-center" data-aos="fade-down" data-aos-duration="1000" data-aos-once="true">
      <p>These campaigns were specially selected for you</p>
    </div>
    <div class="row mb-5">
      <div *ngFor="let item of items" class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center"
        data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
        <div class="card mt-5" style="width: 22rem;">
          <img [src]="imgurl + item.file_path" class="card-img-top" height="200px" alt="...">
          <div class="card-body">
            <a [routerLink]="['/details', item.id]">
              <h5 class="card-title mb-5">{{ item.title}}</h5>
            </a>
            <!-- Progress Bar -->
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100">
              <div class="progress-bar" data-aos="slide-right" data-aos-duration="1500" data-aos-once="true"
                data-aos-delay="300" [style.width.%]="item.stats.percentage_completed">
                {{item.stats.percentage_completed}}%
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-6">
                <p>Donate:{{item.stats.total_donated}}</p>
              </div>
              <div class="col-6">
                <p>Remaining:{{item.stats.remaining_amount}} </p>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <a class="btn btncard" (click)="openModal(item)">Donate Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--charts-->
    <div class="chartcontainer mb-5 overflow-hidden">
      <div class="row">
        <p class="text-center text-muted">This chart visualizes how closely each campaign matches your preferences</p>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 d-flex justify-content-center">
          <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="match_percentage"
            [xAxis]="true"
            [yAxis]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxisLabel]="'Campaigns'"
            [yAxisLabel]="'Match Percentage (%)'"
            [gradient]="true">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
    <div class="row">
      <app-charts></app-charts>
    </div>
  </div>
</div>


<!--لو مفيش خدمات مرشحه-->
<div class="container text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true"
  *ngIf="!loading && items.length === 0">
  <p class="mt-5">No campaigns matching your preferences are available at the moment.They will be available soon!</p>
  <p>You can still donate to one of our currently available campaigns.</p>
  <a routerLink="/allcards" class="btn mb-5">Donate Now</a>
</div>

<!-- المودال -->
<app-donation-modal *ngIf="isModalVisible" [item]="selectedItem" (close)="closeModal()" />
