<!--start landing-->
<app-header></app-header>
<section class="landing" id="landing">
  <img src="header.webp" alt="Landing Background" style="width: 100%; height: 100vh; object-fit: cover;">
  <div class="overlay">
    <div class="landing-contant container">
      <h1 class="scrollbutton" data-aos="fade-down" data-aos-duration="1500" data-aos-once="true">Help us support patients and those in need, bringing hope to their lives.</h1>
      <div class="cont"data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
        <p class="scrollleft" >With your support, we can secure surgeries and essential treatments to save their lives and grant them a better future.</p>
      <a routerLink="/allcards" class="btn text-white">Donate Now</a>
      </div>

    </div>
  </div>
</section>
<!--End landing-->
<div class="about" id="about">
  <!--about-->
  <div class="container">
    <div class="row">
      <div class="col-md-6 text" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
        <div class="titel d-flex">
          <img src="image-(1).png" alt="" width="50px" class="mt-2">
          <h2>About Us</h2>
          <img src="image-(1).png" alt="" width="50px" class="mt-2">
        </div>
        <div class="paragraph ps-3">
          <p>At Aoun, we believe that kindness and generosity are the foundation of thriving communities. We are an
            innovative online platform dedicated to facilitating donations for hospitals and charitable organizations
            that
            tirelessly serve humanity.
          </p>
        </div>
      </div>
      <div class="col-md-6 image" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
        <img src="about.webp" alt="" width="100%">
      </div>
    </div>
  </div>

  <!--cards-->
  <div class="container d-flex justify-content-center cardscontainer">
    <div class="row d-flex justify-content-between" style="width: 90%;">
      <div class="col-md-5 card p-4" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
        <div class="icon text-center">
          <i class="fas fa-handshake text-white"></i>
          <h5>Our mission</h5>
        </div>
        <div class="contant">
          <p>Our mission is to bridge the gap between compassionate individuals and organizations in need of support to execute their humanitarian projects. Whether it’s providing medical treatment for those in need, improving healthcare quality, or supporting charitable initiatives across various fields, we are here to make a difference.
          </p>
        </div>
      </div>

      <div class="col-md-5 card p-4" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
        <div class="icon text-center">
          <i class="fas fa-eye text-white"></i>
          <h5>Our Vision</h5>
        </div>
        <div class="contant">
          <p>Our vision is to create a world where generosity and compassion drive meaningful change, ensuring that every individual in need has access to essential healthcare and support. We strive to be the leading platform that connects donors with impactful charitable initiatives, fostering a culture of giving and social responsibility.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--foot section-->
  <div class="container foot" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
    <div class="row mb-2">
      <p>Join us today and be a part of creating a lasting impact. Together, we can make a real difference in the lives of many.</p>
    </div>
    <div class="row">
      <a routerLink="/signup" class="btn ms-2">Join Us</a>
    </div>
  </div>
</div>
<app-donation></app-donation>
<app-footer></app-footer>

