<section class="pb-5">
  <h2>Change Password</h2>
  <div class="container p-5">
    <div class="row mb-4">
      <input type="password" id="password1" name="current_password" [(ngModel)]="current_password">
      <label for="password1">Old Password</label>
    </div>
    <div class="row mb-4">
      <input type="password" id="password2" name="new_password" [(ngModel)]="new_password">
      <label for="password2">New Password</label>
    </div>
    <div class="row mb-4">
      <input type="password" id="password3" name="new_password_confirmation" [(ngModel)]="new_password_confirmation">
      <label for="password3">Confirm Password</label>
    </div>
    <div class="row d-flex justify-content-end">
      <a class="btn text-white " (click)="savechange()">Save Change</a>
    </div>
  </div>
</section>
