<app-header></app-header>
<section class="mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titel d-flex" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
          <img src="image-(2).png" alt="" width="50px" class="mt-3">
          <h2 class="mt-3">Donation Campaigns</h2>
          <img src="image-(2).png" alt="" width="50px" class="mt-3">
        </div>
        <p class="ps-4" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true" data-aos-delay="1000">
          your kindness can save lives,
          pick a campaign and extend a helping hand, every contribution brings hope and healing.</p>
      </div>
    </div>
    <app-cards></app-cards>
    <div class="row">
      <app-charts></app-charts>
    </div>
  </div>

</section>
<app-footer></app-footer>
