
.profile img{
  height: 50vh;
}
.profile h1{
  font-weight: bold;
}

.profile .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background: rgba(4, 74, 82, 0.6);
  z-index: 0;
}
.landing-contant{
  position: relative;
  top: 30%;
  color: white;

}
.col-md-3{
  margin-bottom: 14px;
}
.col-md-3 a{
  position: relative;
  text-decoration: none;
  color: white;
  transition: color 0.5s ease-in-out;
  white-space: nowrap;

}

.col-md-3 a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0; /* يبدأ بدون عرض */
  height: 2px;
  background-color: #00e5ff;
  transition: width 0.5s ease-in-out;
}

.col-md-3 a:hover::after,
.col-md-3 a.active::after {
  width: 100%; /* عند التنشيط أو التمرير بالماوس، يمتد الخط بالكامل */
}
.col-md-3 a.active {
  color: #00e5ff;
}

@media (max-width: 576px) {

  .profile img{
    height: 40vh;
  }
  .profile .overlay{
    height: 40vh;
  }
  .landing-contant{
    margin-top: 20px;
  }
  .col-md-3 a{
    font-size: 14px;
  }
}
