<section class="d-flex justify-content-center align-items-center vh-100">
  <div class="container">
    <div class="text-center logo mb-5">
      <img src="image1.png" alt="Logo" width="100px">
    </div>
    <div class="row">
      <h2 class="mb-5">Change Your Password</h2>
    </div>
    <div class="row text-center">
      <form action="" (ngSubmit)="onSubmit()" #f="ngForm">
        <input class="form-control mb-5" type="password" placeholder="New Password" name="password" required [(ngModel)]="password">
        <input class="form-control mb-5" type="password" placeholder="Confirm Password" name="password_confirmation" required [(ngModel)]="confirm_password">
        <button class="btn" type="submit" [disabled]="!f.valid">Save</button>
        <p class="text-success mt-4" *ngIf="success">{{success}}</p>
        <p class="text-danger mt-4" *ngIf="error">{{error}}</p>
      </form>
    </div>
  </div>


</section>
